:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#app {
  max-width: 1280px;
  text-align: center;
}
.container {
  padding: 1rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.chat {
  max-height: 80vh;
  width: 100vw;
  overflow-y: scroll;
}
.chat::-webkit-scrollbar {
  width: 5px;
}
.chat::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 8px;
}
.chat::-webkit-scrollbar-track {
  background: none;
  width: 10px;
  padding: 3px;
}
.chat-box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  min-height: 2em;
  box-shadow: 0px 5px 10px 5px#4d4d4d;
}
.chat-box .container {
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}
.chat-box .chat-input {
  width: 80%;
  border: none;
  border-radius: 8px;
  padding: .4em .8em;
  font-size: 1.5rem;
  background: #e4e4e4;
  outline: none;
}
.chat-bubble {
  margin-bottom: 1em;
  list-style-type: none;
  display: grid;
}
.chat-bubble .content.to-everyone:where(.sent, .received){
  padding: 1em 1em;
  background: hsl(350, 100%, 88%);
  border-radius: .4em;
  display: flex;
  width: fit-content;
  /* max-width: 6em; */
  justify-self: flex-end;
}
.chat-bubble .content.to-everyone.received {
  background: hsl(106, 96%, 80%);
  justify-self: flex-start;
}
.chat-bubble:first-of-type {
  margin-top: 1em;
}
.chat-bubble.to-everyone::before {
  content: "@everyone";
  position: relative;
  top: -10px;
  left: -10px;
  font-size: .5em;
  padding: .3rem;
  border-radius: 8px;
  outline: 2px solid;
  outline-color: #ffffff;
}
#send {
  border-radius: 8px;
  background: hsl(106, 96%, 75%);
  border: none;
  transition: 300ms ease;
}
#send:hover {
  background: hsl(106, 96%, 85%);;
}
.info {
  font-size: .8rem;
  padding: .2em;
  margin: 0 auto;
  margin-bottom: 1em;
  color: #bababa;
  list-style-type: none;
  border: 1px solid #bababa;
  border-radius: 8px;
  width: max-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
